In [1]:
import pandas as pd
import seaborn as sns

In [3]:
ACS_df = pd.read_csv("../data/processed/ACS_2011_2017_clean.zip")

In [4]:
ACS_df

,Unnamed: 0,YEAR,SAMPLE,REGION,STATEFIP,COUNTYFIP,HHINCOME,SEX,AGE,MARST,...,CINETHH,CILAPTOP,CISMRTPHN,CITABLET,CIHAND,CIHISPEED,CISAT,CIDIAL,CIOTHSVC,FAMSIZE
0,25045676,2018,201801,32,1,0,9999999,2,19,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
1,25045677,2018,201801,32,1,81,9999999,2,18,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
2,25045678,2018,201801,32,1,0,9999999,1,53,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
3,25045679,2018,201801,32,1,0,9999999,1,28,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
4,25045680,2018,201801,32,1,97,9999999,2,25,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12684374,25045671,2017,201701,41,56,0,9999999,2,20,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
12684375,25045672,2017,201701,41,56,0,9999999,1,18,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
12684376,25045673,2017,201701,41,56,0,9999999,2,31,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
12684377,25045674,2017,201701,41,56,0,9999999,1,60,4,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1
12684378,25045675,2017,201701,41,56,0,9999999,1,20,6,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1

In [5]:
#declaring STATE list
STATES = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
          "Connecticut","Delaware","District of Columbia", "Florida","Georgia","Hawaii",
          "Idaho","Illinois", "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine",
          "Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
          "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
          "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
          "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
          "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [11]:
STATE_FIPS = list(ACS_df['STATEFIP'].unique())

In [13]:
STATE = {}
for state_code, name in zip(STATE_FIPS, STATES):
    STATE[state_code] = name

In [15]:
population_proportion = pd.read_csv("../data/interim/population_proportions")

In [19]:
ACS_df.columns

Index(['Unnamed: 0', 'YEAR', 'SAMPLE', 'REGION', 'STATEFIP', 'COUNTYFIP',
       'HHINCOME', 'SEX', 'AGE', 'MARST', 'RACE', 'CITIZEN', 'EDUC', 'OCC2010',
       'CINETHH', 'CILAPTOP', 'CISMRTPHN', 'CITABLET', 'CIHAND', 'CIHISPEED',
       'CISAT', 'CIDIAL', 'CIOTHSVC', 'FAMSIZE'],
      dtype='object')

HHINCOME = House Hold Income
MARST = Marital Status
OCC2010 = Occupation
CINETHH = Access to Internet
CILAPTOP = Laptop, desktop, or notebook computer
CISMRTPHN = Smartphone
CITABLET = Tablet or other portable wireless computer
CIHAND = Handheld Computer
CIHISPEED = Broadband (high speed) Internet service such as cable, fiber optic, or DSL service
CISAT = Satellite internet service
CIDIAL = Dial-up Service
CIOTHSVC = Other Internet Service

In [20]:
ACS_df["STATE"] = ACS_df.STATEFIP.map(STATE)

In [31]:
ACS_df = ACS_df.drop(columns = ['Unnamed: 0'])

In [33]:
ACS_agg = pd.DataFrame()
ACS_agg["STATE"] = ACS_df.STATE
ACS_agg["OCC2010"] = ACS_df.OCC2010
ACS_agg["CINETHH"] = ACS_df.CINETHH
ACS_agg["CILAPTOP"] = ACS_df.CILAPTOP
ACS_agg["CISMRTPHN"] = ACS_df.CISMRTPHN
ACS_agg["CITABLET"] = ACS_df.CITABLET
ACS_agg["CIHAND"] = ACS_df.CIHAND
ACS_agg["CIHISPEED"] = ACS_df.CIHISPEED
ACS_agg["CISAT"] = ACS_df.CISAT
ACS_agg["CIDIAL"] = ACS_df.CIDIAL
ACS_agg["CIOTHSVC"] = ACS_df.CIOTHSVC

In [36]:
ACS_agg = ACS_agg.groupby(["STATE"]).count()

ACS_agg = ACS_agg.reset_index()

In [37]:
ACS_agg

,STATE,OCC2010,CINETHH,CILAPTOP,CISMRTPHN,CITABLET,CIHAND,CIHISPEED,CISAT,CIDIAL,CIOTHSVC
0,Alabama,190734,190734,190734,95422,95422,95312,190734,190734,190734,190734
1,Alaska,26824,26824,26824,13457,13457,13367,26824,26824,26824,26824
2,Arizona,272399,272399,272399,138853,138853,133546,272399,272399,272399,272399
3,Arkansas,119720,119720,119720,60524,60524,59196,119720,119720,119720,119720
4,California,1502738,1502738,1502738,756392,756392,746346,1502738,1502738,1502738,1502738
5,Colorado,217205,217205,217205,111528,111528,105677,217205,217205,217205,217205
6,Connecticut,144434,144434,144434,72265,72265,72169,144434,144434,144434,144434
7,Delaware,35850,35850,35850,18066,18066,17784,35850,35850,35850,35850
8,District of Columbia,26296,26296,26296,13114,13114,13182,26296,26296,26296,26296
9,Florida,787386,787386,787386,401804,401804,385582,787386,787386,787386,787386
10,Georgia,395076,395076,395076,200654,200654,194422,395076,395076,395076,395076
11,Hawaii,57243,57243,57243,28833,28833,28410,57243,57243,57243,57243
12,Idaho,64758,64758,64758,33247,33247,31511,64758,64758,64758,64758
13,Illinois,507650,507650,507650,252938,252938,254712,507650,507650,507650,507650
14,Indiana,267092,267092,267092,134684,134684,132408,267092,267092,267092,267092
15,Iowa,128535,128535,128535,64818,64818,63717,128535,128535,128535,128535
16,Kansas,117084,117084,117084,58941,58941,58143,117084,117084,117084,117084
17,Kentucky,180430,180430,180430,90684,90684,89746,180430,180430,180430,180430
18,Louisiana,176132,176132,176132,87613,87613,88519,176132,176132,176132,176132
19,Maine,51899,51899,51899,25858,25858,26041,51899,51899,51899,51899
20,Maryland,237668,237668,237668,119303,119303,118365,237668,237668,237668,237668
21,Massachusetts,277276,277276,277276,139766,139766,137510,277276,277276,277276,277276
22,Michigan,396327,396327,396327,198878,198878,197449,396327,396327,396327,396327
23,Minnesota,220743,220743,220743,110944,110944,109799,220743,220743,220743,220743
24,Mississippi,117468,117468,117468,58220,58220,59248,117468,117468,117468,117468
25,Missouri,247774,247774,247774,124489,124489,123285,247774,247774,247774,247774
26,Montana,40511,40511,40511,20557,20557,19954,40511,40511,40511,40511
27,Nebraska,76920,76920,76920,38996,38996,37924,76920,76920,76920,76920
28,Nevada,111076,111076,111076,57340,57340,53736,111076,111076,111076,111076
29,New Hampshire,54413,54413,54413,27488,27488,26925,54413,54413,54413,54413
30,New Jersey,353025,353025,353025,176700,176700,176325,353025,353025,353025,353025
31,New Mexico,77054,77054,77054,38268,38268,38786,77054,77054,77054,77054
32,New York,785459,785459,785459,393552,393552,391907,785459,785459,785459,785459
33,North Carolina,399250,399250,399250,203756,203756,195494,399250,399250,399250,399250
34,North Dakota,31072,31072,31072,15768,15768,15304,31072,31072,31072,31072
35,Ohio,474274,474274,474274,237928,237928,236346,474274,474274,474274,474274
36,Oklahoma,149150,149150,149150,74753,74753,74397,149150,149150,149150,149150
37,Oregon,162670,162670,162670,83336,83336,79334,162670,162670,162670,162670
38,Pennsylvania,513026,513026,513026,256499,256499,256527,513026,513026,513026,513026
39,Rhode Island,42186,42186,42186,21005,21005,21181,42186,42186,42186,42186
40,South Carolina,194484,194484,194484,99256,99256,95228,194484,194484,194484,194484
41,South Dakota,35349,35349,35349,17867,17867,17482,35349,35349,35349,35349
42,Tennessee,265222,265222,265222,134525,134525,130697,265222,265222,265222,265222
43,Texas,1046765,1046765,1046765,533942,533942,512823,1046765,1046765,1046765,1046765
44,Utah,120764,120764,120764,62507,62507,58257,120764,120764,120764,120764
45,Vermont,25490,25490,25490,12776,12776,12714,25490,25490,25490,25490
46,Virginia,335693,335693,335693,169177,169177,166516,335693,335693,335693,335693
47,Washington,292317,292317,292317,150920,150920,141397,292317,292317,292317,292317
48,West Virginia,72143,72143,72143,35824,35824,36319,72143,72143,72143,72143
49,Wisconsin,236026,236026,236026,118892,118892,117134,236026,236026,236026,236026
50,Wyoming,23299,23299,23299,11652,11652,11647,23299,23299,23299,23299

In [35]:
PNW = ["Washington", "Oregon", "Wyoming", "Montana", "Idaho"]

In [38]:
PNW_ACS_agg = ACS_agg[ACS_agg.STATE.isin(PNW)]

In [39]:
PNW_ACS_agg

,STATE,OCC2010,CINETHH,CILAPTOP,CISMRTPHN,CITABLET,CIHAND,CIHISPEED,CISAT,CIDIAL,CIOTHSVC
12,Idaho,64758,64758,64758,33247,33247,31511,64758,64758,64758,64758
26,Montana,40511,40511,40511,20557,20557,19954,40511,40511,40511,40511
37,Oregon,162670,162670,162670,83336,83336,79334,162670,162670,162670,162670
47,Washington,292317,292317,292317,150920,150920,141397,292317,292317,292317,292317
50,Wyoming,23299,23299,23299,11652,11652,11647,23299,23299,23299,23299